<div class="bg-gray-100 flex justify-center items-center h-screen">
  <div class="container max-w-md mx-auto bg-white p-4 rounded-lg shadow-lg flex" style="margin-top: 100px;">
    <!-- Section pour les images à gauche -->
    <div class="w-1/4 flex flex-col justify-between">
      <div class="mb-2">
        <img src="../../../../assets/don.jpg" alt="Image 1" class="w-full rounded-lg mb-2">
      </div>
      <div class="mb-2">
        <img src="../../../../assets/don2.jpg" alt="Image 2" class="w-full rounded-lg mb-2">
      </div>
      <div>
        <img src="../../../../assets/don3.jpg" alt="Image 3" class="w-full rounded-lg">
      </div>
    </div>

    <!-- Section pour le formulaire à droite -->
    <div class="w-3/4 p-4 relative">
      <h2 class="text-5xl font-bold mb-4 text-center">Create Post</h2>

      <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="animate__animated animate__fadeInRightBig">
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
          <input type="text" id="name" formControlName="name" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </div>
        <div class="mb-4">
          <label for="lieux" class="block text-sm font-medium text-gray-700">Location</label>
          <input type="text" id="lieux" formControlName="lieux" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </div>
        <div class="mb-4">
          <label for="tlf" class="block text-sm font-medium text-gray-700">Phone Number</label>
          <input type="number" id="tlf" formControlName="tlf" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </div>
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input type="email" id="email" formControlName="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </div>
        <div class="mb-4">
          <label for="content" class="block text-sm font-medium text-gray-700">Content</label>
          <textarea id="content" formControlName="content" rows="5" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="py-2 px-4 bg-blue-600 text-white font-semibold rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Submit Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
