.navbar {
    margin-bottom: 20px;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .big-button {
    font-size: 1.2em; /* Adjust the size as needed */
    padding: 0 20px;  /* Adjust the padding as needed */
  }
  
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  mat-toolbar .mat-button {
    margin: 0 10px; /* Add some margin between buttons */
  }