body {
  padding-top: 64px; /* Adjust this value based on the height of your navbar */
}

.navbar {
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Position it at the top of the page */
  width: 100%; /* Make sure it spans the entire width */
  z-index: 1000; /* Ensure it is above other content */
  background-color: white; /* Ensure the navbar has a background color */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Add a shadow for better visibility */
}

.spacer {
  flex: 1 1 auto;
}

.big-button {
  font-size: 1.2em; /* Adjust the size as needed */
  padding: 0 20px;  /* Adjust the padding as needed */
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
