.navbar {
  position: fixed; /* Fixe la navbar en haut */
  top: 0; /* Positionne-la en haut de la page */
  width: 100%; /* La barre de navigation occupe toute la largeur */
  z-index: 1000; /* Assurez-vous qu'elle est au-dessus du contenu */
  background-color: white; /* Fond blanc pour la barre de navigation */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre légère pour une meilleure visibilité */
}

.spacer {
  flex: 1 1 auto; /* Espace flexible pour pousser les boutons à droite */
}

.big-button {
  font-size: 1.2em; /* Taille du texte du bouton principal */
  padding: 0 20px; /* Espacement intérieur du bouton principal */
}

mat-toolbar {
  display: flex; /* Affiche les éléments en flexbox */
  justify-content: space-between; /* Répartit les éléments sur toute la largeur */
  align-items: center; /* Centre les éléments verticalement */
}
