/* app.component.scss */
.container {
    display: flex;
  }
  
  .app-sidebar {
    width: 200px; /* Ajustez la largeur de votre barre latérale selon vos besoins */
    background-color: #f0f0f0; /* Exemple de couleur de fond pour la barre latérale */
    padding: 20px; /* Ajoute un padding pour l'espace intérieur de la barre latérale */
  }
  
  .main-content {
    flex: 1; /* Fait en sorte que le contenu principal prenne tout l'espace restant */
    padding: 20px; /* Ajoute un padding pour l'espace intérieur du contenu principal */
  }
  