<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="warn">
      <button mat-button routerLink="/acceuil">Accueil</button>
    </mat-toolbar>
    <mat-toolbar color="warn">
      <button mat-button routerLink="/">Annonces</button>
    </mat-toolbar>
    <mat-toolbar color="warn">
      <button mat-button routerLink="/">Collectes de sang</button>
    </mat-toolbar>
    <mat-toolbar color="warn">
      <button mat-button routerLink="/contact">Contact</button>
    </mat-toolbar>
    <mat-toolbar color="warn">
      <button mat-button routerLink="/create-h">Creation Hopital</button>
    </mat-toolbar>
    <mat-toolbar color="warn">
      <button mat-button routerLink="/create-e">Creation Event</button>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Your main content goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
