<div>
    <app-navbar></app-navbar>
    <!-- Autres contenus de AcceuilComponent -->
  </div>
<div class="css">
    
      <div class="css">
      
        <div class="main-container">
          <app-sidebar></app-sidebar>
          <div class="container">
      
      </div>
      
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nisi tempore iusto, eligendi fugit commodi eos! Excepturi est eveniet voluptas, alias deleniti ipsa earum ea a quas sequi nemo. Quae quis at praesentium modi pariatur, cumque fugit sunt quod voluptas tempora, rem asperiores deleniti explicabo doloribus, magnam consequatur dolore laboriosam sed! Pariatur autem nobis praesentium dolorem odit! Quod nemo doloribus modi nobis corrupti quasi animi dignissimos, cumque unde perferendis accusantium aliquid, asperiores aut est omnis corporis sunt magnam placeat? Eius minus aperiam adipisci perferendis nostrum? Ea delectus reiciendis unde dolor rem quos rerum in non, nostrum officiis accusantium? Amet, sit.</p>
</div>