// src/styles/custom-theme.scss

@use '@angular/material' as mat;

// Définissez votre palette de couleurs personnalisées
$custom-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 700);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette();

// Créez un thème de matériau personnalisé avec vos palettes
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

// Incluez le thème personnalisé dans votre application
@include mat.core();
@include mat.all-component-themes($custom-theme);
